
  body 
  {
      background-color: rgb(88, 85, 85);
  }

  h3{
      font-family: 'Lucida Sans';
  }

  table{
        background-color: lightgray;
        border-color: darkred;
        text-align: center;
        margin-left: 15%;
        width: 70%;
        border-collapse: collapse;
  }

  th,td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid black;
  }

  .th-color{
      background-color: skyblue;
  } 
   

  .para {
    color: darkred;
    background-color: moccasin;
    font-family: 'Times New Roman';
    font-size: large;
    padding-left: 10px;
    font-size: x-large;
    margin-left: 10%;
  }

  .box {
      color : rgb(0, 14, 92);
      background-color: seashell;
      text-align: left;
      font-size: 150%;
      width: 50%;
      border: 15px solid darkred;
      padding: 5px;
      margin-left: 25%;
  }     

 .header {
     padding-bottom: 50px;
     /* height: 300px; */
     color: aliceblue;
     text-align: center;
     font-family: Georgia;
     font-size: 200%;
     background-color: darkcyan;
                    
  }

  .box-table{
      width: 80%;
      border: 15px solid darkred;
      padding: 50px;
      margin-left: 10%;
      font-family: 'Trebuchet MS';
      font-size: 150%;
      background-color: rgb(255, 255, 255);
  }

  a :hover {
      color: rgb(255, 4, 4);
  }

  .subtitles {
      font-size: 200%;
      color: rgb(26, 56, 153);
      background-color: white;
      margin-right: 65%;
  }

  #aboutheader {
    padding: 10px;
    /* height: 300px; */
    color: aliceblue;
    text-indent: 10%;
    font-family: Georgia;
    font-size: 200%;
    background-color: cornflowerblue;
    position: relative;
    /* margin-left: 5%; */
 }

 #photo {
     float: right;
     position: relative;
     top: -235px;
     margin-right: 15%;
 }

 #qualificationheader {
     background-image: url("Choosing-the-right-qualification.jpg");
     padding: 70px;
     /* height: 300px; */
     color: aliceblue;
     text-align: center;
     font-family: Georgia;
     font-size: 200%;
     background-color: darkcyan;
     text-indent: 10%;
 }

 #projectheader {
    background-image: url("projects.png");
    padding: 150px;
    /* height: 300px; */
    color: aliceblue;
    text-align: center;
    font-family: Georgia;
    font-size: 200%;
    background-color: darkcyan;
    text-indent: 10%;
 }

 #contactme {
    background-image: url("Contact.jpg");
    padding: 80px;
    /* height: 300px; */
    color: aliceblue;
    text-align: center;
    font-family: Georgia;
    font-size: 200%;
    background-color: darkcyan;
    text-indent: 20%;
 }

 @media (max-width: 900px) {
     #photo {
         display: none;
     }
 }